* {
  padding: 0;
  margin: 0;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
}
body {
  background: #efefef;
  padding-bottom: 100px;
}
body main {
  margin-top: -340px;
}
[data-high].active{
  outline: 5px solid wheat;
}
[data-high].offset{
  transform: translateY(100px);
}
[data-high]{
  transform: translateY(0);
  transition: all 0.3s;
}
.icon {
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: white;
  overflow: hidden;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.banner {
  background-image: url(../img/background-cover.jpg);
  background-size: cover;
  height: 515px;
  background-position: center center;
}
.banner .banner-in {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.6);
}
.topNavBar {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
}
.topNavBar.sticky {
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
  padding: 5px 0;
  z-index: 1;
}
.topNavBar.sticky > nav > ul > li > a {
  color: #3d4450;
}
.topNavBar > a {
  float: left;
}
.topNavBar > nav {
  float: right;
  padding-top: 6px;
  padding-bottom: 5px;
}
.topNavBar > nav > ul > li {
  float: left;
  margin: 0 40px;
  position: relative;
  transition: all 0.3s;
}
.topNavBar > nav > ul > li > a {
  font-size: 14px;
  color: #c0c2c5;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding: 8px 0;
  display: block;
  transition: all 0.3s;
  position: relative;
}
.topNavBar > nav > ul > li.active > a::after,
.topNavBar > nav > ul > li.highlight > a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #e6686d;
  animation: menuSlide 0.3s;
  border-radius: 2px;
}
@keyframes menuSlide {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.topNavBar .logo {
  padding: 0px 15px;
}
.topNavBar .logo .eden {
  font-size: 40px;
  color: #e6686d;
  font-weight: 100;
  font-family: "Bradley Hand";
}
.topNavBar .logo .sheng {
  font-size: 24px;
  color: #9a9da2;
  font-weight: 600;
  font-family: "Bradley Hand";
}
.topNavBar >nav>ul>li .submenu {
  display: none;
  z-index: 2;
}
.topNavBar> nav>ul>li.active .submenu {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  white-space: nowrap;
  background: #ffffff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  font-size: 14px;
  color: #3d4450;
  line-height: 30px;
  animation: submenuSlide 0.2s;
  text-align: right;
}
@keyframes submenuSlide{
  0%{
    margin-right:100%;
  }
  100%{
    margin-right: 0%;
  }
}
.topNavBar> nav>ul>li .submenu li{
  padding: 2px 30px;
  transition: all 0.3s;
}
.topNavBar> nav>ul>li .submenu li:first-child{
  margin: 10px 0 0 0;
}
.topNavBar> nav>ul>li .submenu li:last-child{
  margin: 0 0 10px 0;
}
.topNavBar> nav>ul>li .submenu li:hover{
  background: #fafafa;
  color: #e6686d;
  cursor: pointer;
}
.userCard {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  z-index: 0;
}
.userCard h1 {
  color: #3d4450;
  padding: 31px 0 10px 0;
  font-family: "kai";
}
.userCard .pictureAndText {
  padding: 50px 50px;
}
.userCard .picture {
  float: left;
}
.userCard .picture img {
  width: 325px;
  height: 325px;
}
.userCard .text {
  float: left;
  margin-left: 75px;
  max-width: 400px;
}
.userCard .text p {
  color: #3d4450;
  font-family: "kai";
}
.userCard .text hr {
  margin: 25px 0 20px 0;
  height: 0;
  width: 380px;
  border: none;
  border-top: 1px solid #dedede;
}
.userCard dl dt,
.userCard dl dd {
  float: left;
  padding: 5px 0;
  font-size: 14px;
}
.userCard dl dt {
  width: 30%;
  color: #333333;
  line-height: 20px;
}
.userCard dl dd {
  width: 70%;
  color: #9da0a7;
  line-height: 20px;
  font-family: "Kai";
}
.userCard .text .welcome {
  background: #e3676c;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #fefefe;
  line-height: 22px;
  padding: 6px 15px;
  position: relative;
}
.userCard .text .welcome .triangle {
  position: absolute;
  display: block;
  top: 100%;
  left: 4px;
  border: 5px solid #e3676c;
  width: 0;
  height: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.userCard .media {
  background: #e6686d;
  text-align: center;
}
.userCard .media a {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  padding: 15px 0;
  line-height: 20px;
  transition: all 0.4s;
  margin: 18px 16px;
}
.userCard .media a:hover {
  background: #cf5d62;
}
.userCard .media svg {
  vertical-align: top;
}
body main .download {
  text-align: center;
  margin: 35px 0;
}
body main .downloadResume {
  font-size: 14px;
  color: #3d4450;
  background: #efefef;
  border: 1px solid #cbcdcf;
  border-radius: 3px;
  line-height: 16px;
  padding: 21px 55px;
  display: inline-block;
  transition: all 0.4s;
  font-family: "Kai";
  font-weight: bold;
}
body main .downloadResume:hover {
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18),
    0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
body main .selfIntroduction {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Kai";
  font-size: 16px;
  font-weight: 100;
  line-height: 40px;
}
section.skills {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
section.skills > h2 {
  text-align: center;
  color: #3d4450;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
}
section.skills ol {
  background: #ffffff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  padding: 40px 45px 5px 45px;
}
section.skills ol li {
  float: left;
  width: 48%;
  box-sizing: border-box;
}
section.skills ol li:nth-child(even) {
  float: right;
}
section.skills ol li h3 {
  color: #3d4450;
  font-size: 14px;
  line-height: 1.1;
}
section.skills ol li .progressBar {
  height: 5px;
  background: #fae1e2;
  border-radius: 2px;
  margin: 4px 0 40px 0;
  overflow: hidden;
}
section.skills ol li .progressBar .progress {
  height: 100%;
  background: #e6686d;
  border-radius: 2px;
  transform: translateX(0);
  transition: all 0.3s;
}
section.skills ol #proOne{
  width: 80%;
}
section.skills ol #proTwo{
  width: 70%;
}
section.skills ol #proThree{
  width: 60%;
}
section.skills ol #proFour{
  width: 60%;
}
section.skills ol #proFive{
  width: 60%;
}
section.skills ol #proSix{
  width: 50%;
}

section.skills.offset ol li .progressBar .progress {
  transform: translateX(-100%);
}
section.portfolio {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}
section.portfolio.offset {
  transform: translateY(150px);
}
section.portfolio > h2 {
  text-align: center;
  color: #3d4450;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-top: 20px;
}
section.portfolio nav {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
section.portfolio nav ol {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
}
section.portfolio nav ol li {
  float: left;
  margin-left: 40px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
section.portfolio nav ol li:nth-child(1) {
  margin: 0;
}
section.portfolio nav .bar {
  height: 5px;
  background: #ffffff;
  border-radius: 2px;
}
section.portfolio nav .bar #barInner {
  transition: 0.2s;
}
section.portfolio nav .bar #barInner.state0 {
  height: 100%;
  background: #e6686d;
  width: 55px;
  border-radius: 2px;
}
section.portfolio nav .bar #barInner.state1 {
  height: 100%;
  background: #e6686d;
  margin-left: 55px;
  width: 112px;
  border-radius: 2px;
}
section.portfolio nav .bar #barInner.state2 {
  height: 100%;
  background: #e6686d;
  margin-left: 167px;
  width: 89px;
  border-radius: 2px;
}
section.portfolio nav .bar #barInner.state3 {
  height: 100%;
  background: #e6686d;
  margin-left: 256px;
  width: 101px;
  border-radius: 2px;
}
.windows {
  overflow: hidden;
  width: 930px;
  height: 558px;
  margin: 40px auto;
  box-shadow: 0 0 3px #aaaaaa;
  border-radius: 3px;
  position: relative;
  background: #f2f2f2;
}
.windows svg#left {
  position: absolute;
  top: 40%;
  left: 15px;
}
.windows svg#right {
  position: absolute;
  top: 40%;
  right: 15px;
}
.windows>svg{
  transition: all 0.3s;
  fill: #f2f2f2;
  z-index: 1;
  width: 50px;
  height: 50px;
}
.windows>svg:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.windows .images {
  display: flex;
  align-items: flex-start;
  transition: transform 0.5s;
}
.windows .images div {
  flex-shrink: 0;
  margin: 0;
  filter: brightness(70%);
  position: relative;
}
.windows .images div .slidesInner{
  position: absolute;
  text-align: center;
  left: 10%;
  bottom: 5%;
  font-size: 30px;
  font-family: 'Kai';
  font-weight: bold;
  color: white;
  filter: brightness(100%);
  transition: all 0.3s;
}
.windows .images div .slidesInner#longType{
  left: 8%;
}
.windows:hover .images div .slidesInner{
  transform: translateY(-60px);
}
.windows .images div .slidesInner span{
  margin: 10px 0;
  display: block;
  cursor: default;
}
.windows .images div svg{
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgba(214, 204, 204, 0);
  padding: 5px;
  transition: all 0.3s;
  border-radius: 4px;
}
.windows .images div .beginCode:hover,
.windows .images div .preview:hover{
  background: rgba(214, 204, 204, 0.3);
  cursor: pointer;
  transform: scale(1.1);
}
.windows .images div .beginCode{
  left: 10%;
  bottom: -15%;
  border: 1px solid white;
  fill: #e6686d;
  transition: 0.4s;
}
.windows .images div .preview{
  left: 22%;
  bottom: -15%;
  border: 1px solid white;
  fill: #e6686d;
  transition: 0.6s;
}
.windows:hover .images div .beginCode{
  bottom: 5%;
}
.windows:hover .images div .preview{
  bottom: 5%;
}
.windows .images div .jsLogo{
  left: 12%;
  bottom: 14%;
  fill: white;
  width: 50px;
  height: 50px;
}
.windows .images div .jqueryLogo{
  left: 12%;
  bottom: 14%;
  fill: white;
  width: 40px;
  height: 40px;
}
.windows .images div .ajaxLogo{
  left: 12%;
  bottom: 14%;
  fill: white;
  width: 40px;
  height: 40px;
}
.windows .images div .cookieLogo{
  left: 19%;
  bottom: 15%;
  fill: white;
  width: 40px;
  height: 40px;
}
.windows .images div .canvasLogo{
  left: 18%;
  bottom: 13%;
  fill: white;
  width: 50px;
  height: 50px;
}
.windows .images div .timeLogo{
  left: 18%;
  bottom: 14%;
  fill: white;
  width: 40px;
  height: 40px;
}
.windows .images div .jsonLogo{
  left: 18%;
  bottom: 14%;
  fill: white;
  width: 40px;
  height: 40px;
}
.windows:hover .images div .jsLogo{
  bottom: 24%;
}
.windows:hover .images div .jqueryLogo{
  bottom: 24%;
}
.windows:hover .images div .cookieLogo{
  bottom: 25%;
}
.windows:hover .images div .canvasLogo{
  bottom: 23%;
}
.windows:hover .images div .timeLogo{
  bottom: 24%;
}
.windows:hover .images div .ajaxLogo{
  bottom: 24%;
}
.windows:hover .images div .jsonLogo{
  bottom: 24%;
}
section.message > ol{
  margin: 0 auto;
  max-width: 930px;
  background: #ffffff;
  padding: 50px 0 10px 0;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
section.message > ol #searchMessage{
  padding: 10px 15px;
  width: 86%;
  border-radius: 5px;
  border: none;
  background: #eaebf2;
  color: black;
  position: absolute;
  top: 15px;
  left: 5%;
  outline-style: none;
}
section.message > ol #searchLogo{
  position: absolute;
  top: 24px;
  left: 840px;
  cursor: pointer;
  fill: #747574;
  transition: all 0.3s;
}
section.message > ol #upLogo{
  position: absolute;
  fill: #747574;
  bottom: 3%;
  right: 15%;
  background: #eaebf2;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s;
}
section.message > ol #downLogo{
  position: absolute;
  fill: #747574;
  bottom: 3%;
  right: 5%;
  background: #eaebf2;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s;
}
section.message > ol #upLogo:hover,
section.message > ol #downLogo:hover{
  transform: scale(1.2);
  fill: #e6686d;
}
section.message > ol #searchLogo:hover{
  transform: scale(1.1);
  fill: #e6686d;
}
section.message > ol > li{
  font-family: 'Kai';
  font-size: 16px;
  color: #b9bbc4;
  margin: 16px 25px;
  padding: 20px 10px;
  background: #fefffe;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: default;
}
section.message > ol > li:last-child{
  margin: 16px 25px 60px 25px;
}
section.message > ol > li span{
  color: #e6686d;
  font-size: 12px;
}
section.message > h2 {
  text-align: center;
  color: #3d4450;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
}
section.message form.postMessageForm{
  text-align: center;
  margin: 15px 0;
}
section.message form.postMessageForm input.nameInput{
  height: 30px;
  width: 70px;
  padding: 0 20px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin: 20px 10px;
  outline: none;
}
section.message form.postMessageForm input.contentInput{
  height: 30px;
  width: 300px;
  padding: 0 20px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin: 20px 10px;
  outline: none;
}
section.message form.postMessageForm input.submitButton{
  text-align: center;
  border-radius: 5px;
  height: 30px;
  width: 60px;
  background-color: rgb(244,244,244);
  color: #747574;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
  border: 1px solid #747574;
}
section.message form.postMessageForm input.submitButton:hover{
  transform: scale(1.2);
  color: #e6686d;
  border: 1px solid #e6686d;
}
section.message form.postMessageForm span{
  color: #ccc;
  font-family: "Microsoft YaHei" ! important;
  font-size: 14px;
}
